  <table class="table table-striped">
    <thead>
      <tr>
        <th>KEY</th>
        <th>VALUE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>how many 1.5s</td>
        <td id="counts"></td>
      </tr>
      <tr>
        <td>form submitted times</td>
        <td id="submitted_times"></td>
      </tr>
      <tr>
        <td>last input value</td>
        <td id="input_value"></td>
      </tr>
      <tr>
        <td>location hash</td>
        <td id="hash"></td>
      </tr>
    </tbody>
  </table>
<form id="myform">
  <div class="form-group">
    <label for="string">String:</label>
    <input type="text" class="form-control" name="string" id="string">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
