<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>operationTitle: <%=operationTitle %></title>
</head>
<body>
    <h1>operationTitle: <%=operationTitle %></h1>
    Result: <%=result %>
</body>
</html>
