<form id="file" action="/users/upload" method="post" enctype="multipart/form-data">
            click choose file to take a short video and upload it!!
    <label class="custom-file">
        <input class="custom-file-input" id="file-input" type="file" name="video" accept="video/*" capture>
        <span class="custom-file-control"></span>
    </label>
    <input type="submit" value="Upload">
	<input type="hidden" name="latitude" id="latitude">
	<input type="hidden" name="longitude" id="longitude">
</form>

<p>Your location info is the following:</p>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

getLocation();

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
	$("#latitude").val(position.coords.latitude);
	$("#longitude").val(position.coords.longitude);
}

</script>