<form id="usersignup" action="/users/signup" method="POST">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="upwd" required>
            <!--<button type="submit" id="login">Login</button>-->
            <button type="submit" id="signup">Signup</button>
</form>

<form id="userslogin" action="/users/login" method="POST">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="upwd" required>
            <button type="submit" id="login">Login</button>
            <!--<button type="submit" id="signup">Signup</button>-->
</form>
<a href="/users/logout">
    <button type="button" id="logout">Logout</button>
</a>
    

